main.main {
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 76px);
}

.modal-btn span {
  border: 2px solid #00f902;
  background: #000;
  display: inline-flex;
  padding: 5px 10px;
  transition: 0.5s;
}

.modal-btn:hover span {
  transform: scale(1.1);
}
.modal-btn img {
  height: 80px;
}

.Typewriter {
  color: #00f902;
  font-size: 20px;
}
